---
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.signup); // Get action result

if (result && !result.error) {
  return Astro.redirect(result.data.redirect);
}

import SignupForm from "../components/SignupForm.astro";
import background from "../assets/background.svg";
import Layout from "../layouts/signLayout.astro";
---

<Layout>
  <div>
    <img
      id="background"
      src={background.src}
      alt=""
      fetchpriority="high"
      class="fixed top-0 left-0 w-full h-full -z-10 blur-[120px] opacity-80"
    />
    <div
      class="min-h-screen font-['Inter,Roboto,Helvetica_Neue,Arial_Nova,Nimbus_Sans,Arial,sans-serif']"
    >
      <img
        id="background"
        src={background.src}
        alt=""
        fetchpriority="high"
        class="fixed top-0 left-0 w-full h-full -z-10 blur-[120px] opacity-80"
      />

      <main
        class="flex flex-col items-center justify-center min-h-screen py-12 px-4"
      >
        <SignupForm />
      </main>
    </div>
  </div>
</Layout>
