---

---

<header
  class="bg-white/20 backdrop-blur-xl shadow-2xl text-gray-900 fixed w-full z-50"
>
  <nav class="max-w-8xl mx-auto py-4 flex justify-between items-center px-8">
    <a
      href="/"
      class="text-xl font-bold flex items-center gap-2 hover:opacity-80 transition-opacity"
    >
      <span
        class="text-2xl font-extrabold bg-gradient-to-r from-blue-600 to-blue-800 bg-clip-text text-transparent"
      >
        uTask
      </span>
    </a>
    <div class="flex gap-4">
      <a
        data-astro-reload
        href="/login"
        class="px-6 py-2.5 rounded-full bg-white/80 text-blue-600 hover:bg-blue-50 transition-all duration-300 font-medium shadow-sm"
      >
        Connexion
      </a>
      <a
        data-astro-reload
        href="/signup"
        class="px-6 py-2.5 rounded-full bg-blue-600 text-white hover:bg-blue-700 transition-all duration-300 font-medium shadow-md"
      >
        S'inscrire
      </a>
    </div>
  </nav>
</header>
