---
import { actions } from "astro:actions";
const user = Astro.locals.user;
---

<nav class="bg-white shadow-md">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <h1 class="text-2xl font-bold text-gray-900">Tableau de bord</h1>
      </div>
      <div class="flex items-center space-x-4">
        <div class="flex items-center space-x-4">
          <div class="text-sm text-gray-600">
            {
              user ? (
                <>
                  <p class="font-medium">{user.fullName}</p>
                  <p class="text-xs">{user.email}</p>
                </>
              ) : (
                <p class="text-xs">User not authenticated</p>
              )
            }
          </div>
          <form
            method="POST"
            action={actions.logout}
            data-astro-reload
            data-astro-history="replace"
          >
            <input type="hidden" name="userId" value={user?.userId} />
            <button
              type="submit"
              class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300 transition-colors"
            >
              Déconnexion
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
